In [11]:
import pandas as pd

In [12]:
# !python -m pip install xlrd

In [33]:
jun_delim = pd.read_csv('./expenses/jun_2023_delimited.txt', sep=r'\s,', engine='python')
jun_delim.head(10)

,Date,Narration,"Value Dat,Debit Amount",Credit Amount,Chq/Ref Number,Closing Balance
26/05/23,NEFT CR-HSBC0400002-SHELL INDIA MARKETS PRIVAT...,26/05/23,0.0,93625.63,HSBCN23146678253,96217.59
27/05/23,UPI-PRADEEP SAKTHI S-PRADEEP213@OKICICI-ICIC00...,27/05/23,220.0,0.00,0000314763098948,95997.59
27/05/23,UPI-PRADEEP SAKTHI S-PRADEEP213@OKICICI-ICIC00...,27/05/23,500.0,0.00,0000314763111857,95497.59
27/05/23,UPI-ARAVIND AMSASEKAR A-ARAVIND.AAAA@OKICICI-I...,27/05/23,233.0,0.00,0000314763126188,95264.59
27/05/23,UPI-SOMESH KIRTHIK S P-SPSOMESH2001-2@OKHDFCBA...,27/05/23,5000.0,0.00,0000314763149696,90264.59
27/05/23,UPI-SOMESH KIRTHIK S P-SPSOMESH2001-2@OKHDFCBA...,27/05/23,6750.0,0.00,0000314763179200,83514.59
27/05/23,UPI-HILLTOP INN-8124600010@OKBIZICICI-ICIC0DC0...,27/05/23,1790.0,0.00,0000314763789230,81724.59
27/05/23,UPI-NAGENDRA BABU VANKA-BOBBY8158@YBL-SBIN001...,27/05/23,40.0,0.00,0000314768999964,81684.59
27/05/23,UPI-ARCHANA PURI-ARCHIEPURI@OKICICI-ICIC000603...,27/05/23,120.0,0.00,0000314770488463,81564.59
29/05/23,ACH D- BDACH-SBISMSMFB-TJMI5089064 ...,29/05/23,3000.0,0.00,0000001920500214,78564.59

In [ ]:
with open()